{% extends "layout.html" %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td>
                <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                    {{ todo.description }}
                </a>
            </td>
            <td>
                <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
            <td>
                {% if todo.completed != '1' %}
                <form method="post" action="{{ app.request.baseurl }}/todo/completed/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="4">
                    <input type="textbox" name="description" required="required" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
    {% if maxPages > 1 %}
    <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination pagination-lg">
            <li{% if onPage == 1 %} class="disabled"{% endif %}>
                <a href="{{ app.request.baseurl }}/todo?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in 1..maxPages %}
            <li{% if onPage == i %} class="active"{% endif %}><a href="{{ app.request.baseurl }}/todo?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li{% if onPage == maxPages %} class="disabled"{% endif %}>
                <a href="{{ app.request.baseurl }}/todo?page={{ onPage + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}