body {
  padding-top: 50px;
}

.login-form > div {
    margin-top: 10px;
}

.container {
  max-width: 600px;
}

article.todos-detail .panel-body {
  height: 200px;
  overflow-y: scroll;
}

/* Helper classes */
.no-padding {
  padding: 0;
}