html,
body {
    font-size: 1rem;
    line-height: normal;
    background-image: url('../img/background/main-background-one.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    color: #fff;
}

nav {
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

nav a,
nav a:hover,
nav a:active,
#list-todos .todo-list-item-row a,
#list-todos .todo-list-item-row a:hover,
#list-todos .todo-list-item-row a:active {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.content-container {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    position: relative;
    color: #fff;
}

.content-container:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    left:0;
    right: 0;
    background: #82a7c6; /* Old browsers */
    background: -moz-linear-gradient(top,  #82a7c6 0%, #006784 50%, #33425f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #82a7c6 0%,#006784 50%,#33425f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #82a7c6 0%,#006784 50%,#33425f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82a7c6', endColorstr='#33425f',GradientType=0 ); /* IE6-9 */
    opacity: 0.5;
}

.content-container .content {
    position: relative;
    z-index: 1;
}

.content-container .content #company-logo img {
    margin: 0 auto;
    width: 100%;
    max-width: 90px;
    opacity: 0.3;
}

#list-headings {
    background-color: #343a40;
}

#list-todos .todo-list-item-row {
    position: relative;
}

#list-todos .todo-list-item-row span {
    padding: .375rem 0;
    line-height: 1.5;
    display: inline-block;
}

#list-todos .todo-list-item-row:nth-child(even):before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    left:0;
    right: 0;
    background-color: #212121;
    opacity: 0.5;
}

#list-todos .todo-list-item-row:nth-child(even) {
    border-left: 1px solid #343a40;
    border-right: 1px solid #343a40;
}

#list-todos .todo-list-item-row:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    left:0;
    right: 0;
    background-color: #2f2f2f;
    opacity: 0.5;
}

#list-todos .todo-list-item-row:nth-child(odd) {
    border: 1px solid #343a40;
}

#list-todos .todo-list-item-row:hover:before {
    background-color: #636363;
}

.todo-list-item-action-button form button i {
    font-size: 0.8rem;
}

#list-todos-pagination span,
#list-todos-pagination a {
    margin-right: 1rem;
    margin-left: 1rem;
}

#list-todos-pagination a span {
    margin-right: 0;
    margin-left: 0;
}

#list-todos .todo-list-item-row span.completed {
    color: #909090;
}