<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title '' %} - Ask Nicely Backend PHP Test</title>

    <!-- Mobile Window Theme Colour -->
    <meta name="theme-color" content="#343a40" />
    <meta name="msapplication-navbutton-color" content="#343a40" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#343a40" />

    <!-- Canonical Tag -->
    <link rel="canonical" id="canonicalURL" href="{{ url('homepage') }}" />

    <!-- Favicon -->
    <link rel="icon" sizes="16x16" type="image/png" href="{{ url('homepage') }}img/favicon/favicon-16x16.png">
    <link rel="icon" sizes="32x32" type="image/png" href="{{ url('homepage') }}img/favicon/favicon-32x32.png">
    <link rel="icon" sizes="96x96" type="image/png" href="{{ url('homepage') }}img/favicon/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="120x120" type="image/png" href="{{ url('homepage') }}img/favicon/favicon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" type="image/png" href="{{ url('homepage') }}img/favicon/favicon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" type="image/png" href="{{ url('homepage') }}img/favicon/favicon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="{{ url('homepage') }}img/favicon/favicon-180x180.png">

    <link rel="stylesheet" type="text/css" href="{{ url('homepage') }}assets/bootstrap-4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url('homepage') }}assets/fontawesome-5.10.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url('homepage') }}assets/animate.css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url('homepage') }}css/main.1.0.0.min.css" />
</head>
<body>
<!-- Website Navigation Section-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url('homepage') }}"><i class="fas fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            {% if user %}
                <ul class="navbar-nav mr-auto">
                    <li><a href="{{ url('homepage') }}todo" title="">Todo list</a></li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li><a href="{{ url('homepage') }}logout"><i class="fas fa-sign-out-alt mr-2 align-middle"></i><span class="align-middle"><b>{{ user.username }}</b> Logout</span></a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav my-2 my-lg-0">
                    <li><a href="{{ url('homepage') }}login" title="User Login Link"><i class="fas fa-sign-in-alt mr-2 align-middle"></i><span class="align-middle">Login</span></a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Page Content -->
<section id="page-content" class="mt-md-5 mb-md-5">
    <div class="container">
        <div class="row justify-content-center">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>

<section id="scripts">
    <script type="application/javascript" rel="script" src="{{ url('homepage') }}assets/jquery-3.4.1/jquery-3.4.1.min.js" ></script>
    <script type="application/javascript" rel="script" src="{{ url('homepage') }}assets/popper-1.14.7/popper.min.js"></script>
    <script type="application/javascript" rel="script" src="{{ url('homepage') }}assets/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" rel="script" src="{{ url('homepage') }}assets/jquery-validation-1.19.1/jquery.validate.min.js"></script>
    <script type="application/javascript" rel="script" src="{{ url('homepage') }}js/main.1.0.0.min.js"></script>
</section>
</body>
</html>