{% extends "layout.html" %}

{% block content %}

<!-- [todo] row template -->
{% include 'todo-row-template.html' %}

<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <!-- [todo] list container -->
        <tbody id="todos-container"></tbody>
        <tfoot>
            <form method="post" action="{{ app.request.baseurl }}/todo">
                <td colspan="3">
                    <input type="text" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    // On document ready
    $( document ).ready(() => {
        Todo.onReady();
        Todo.fetch();
    });
</script>
{% endblock %}
