{% extends "layout.html" %}

{% block content %}

<div class="col-md-4 col-md-offset-4">
    <h1 class="todoheader">Todo:</h1>
    {% for alert in app.session.flashbag.get('warning') %}
        <div class="error-message todo-added">
          <div class="alert"><strong>{{ alert }}</strong></div>
        </div>
    {% endfor %}
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>JSON</th><th></th><th></th>
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td>
                <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}/json">
                   {{ todo.description }}
                </a>
            </td>
            <td>{{ jsonformat }}</td>
            <td>
                <button class="btn btn-xs btn-danger remove-todo" target-todo="{{ todo.id }}"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
            </td>
            <td>
                <button class="btn btn-xs btn-danger tag-complete" target-todo="{{ todo.id }}"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
            </td>
        </tr>
    </table>
</div>

{% endblock %}