{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>

    {% for error in app.session.flashbag.get('error')%}
    <div class="alert alert-danger center">
        <strong>An error has occured:</strong> {{ error }}
    </div>
    {% endfor %}

    {% for confirmation in app.session.flashbag.get('confirmation')%}
    <div class="alert alert-success center">
        {{ confirmation }}
    </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>User</th>
            <th>Description</th>
            <th>Status</th>
            <th>Json</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                {% if(todo.status == 'processing') %}
                <td class="text-danger">{{ todo.status }}</td>
                {% else %}
                <td class="text-success">{{ todo.status }}</td>
                {% endif %}
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}/json" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-search glyphicon-white"></span></a>
                </td>

                <td class="p-0">
                    <form method="post" class="float-left m-5" action="{{ app.request.baseurl }}/todo/{{ todo.id }}/delete" onSubmit="alert('Are you sure to remove?');">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                    {% if(todo.status == 'processing') %}
                    <form method="post" class="float-left m-5" action="{{ app.request.baseurl }}/todo/{{ todo.id }}/complete" onSubmit="alert('Are you sure this task has completed?');">
                        <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                    </form>
                    {% else %}
                    <form method="post" class="float-left m-5" action="{{ app.request.baseurl }}/todo/{{ todo.id }}/undo" onSubmit="alert('Are you sure to undo this?');">
                        <button type="submit" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-repeat glyphicon-white"></span></button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <form id="add-todo-form" method="post" action="{{ app.request.baseurl }}/todo/add">
                    <td colspan="5">
                        <input id="description" type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12 center">
        <ul class="pagination" >
            <li
            {% if(current == 1) %}
            class="disabled"
            {% endif %}
            ><a href="?page={{current - 1}}">&laquo;</a></li>
            
            {% for i in 1..max %}
            <li 
            {% if(i == current) %}
            class="active"
            {% endif %}
            ><a href="?page={{i}}">{{i}}</a></li>

            {% endfor %}

            <li
            {% if(max == current) %}
            class="disabled"
            {% endif %}
            ><a href="?page={{current + 1}}">&raquo;</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    //Check DESCRIPTION in frontend
    $('#add-todo-form').submit(function(e) {
        e.preventDefault();     //stop submit
        var description = $.trim($('#description').val());  //trim description
        if(description == '')
        {
            alert("Please input some description before you add it!");
            return;
        }
        this.submit()
    });
</script>
{% endblock %}
