{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
	<nav aria-label="Page navigation example" id="pagination">
	  <ul class="pagination">
	  {% for i in 1..pages %}
	       {% if i == pagenum %}
				<li class="page-item active"><a class="page-link" href="/todowithpagination/{{ i }}"> {{ i }}</a></li> 
           {% else %}
				<li class="page-item"><a class="page-link" href="/todowithpagination/{{ i }}"> {{ i }}</a></li> 
           {% endif %}
	 {% endfor %}
	  </ul>
	</nav>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th></th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}