{% extends "layout.html" %}

{% block title %}:: TODO Detail ::{% endblock %}

{% block content %}
<article class="todo-detail">
    <header>
        <!-- [todo] status -->
        <h1 class="text-center">
            <span class="label label-{{ todo.completed ? 'success' : 'default' }}">
                {{ todo.completed ? 'Completed' : 'Pending' }}
            </span>
        </h1>
    </header>
    <section>
        <div class="panel panel-default">
            <!-- Description -->
            <div class="panel-body">{{ todo.description }}</div>

            <!-- Actions -->
            <div class="panel-footer">
                <a class="btn btn-default" href="{{ app.request.basePath }}/todo">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    TODO List
                </a>
                <div class="btn-group pull-right">
                    <a class="btn btn-{{ todo.completed ? 'danger' : 'success' }}" href="#" data-action="completed" data-completed="{{ todo.completed }}" data-todo-id="{{ todo.id }}" data-callback-path="todo">Mark as {{ todo.completed ? 'Pending' : 'Completed' }}</a>
                    <button type="button" class="btn btn-{{ todo.completed ? 'danger' : 'success' }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-action="delete" data-todo-id="{{ todo.id }}" data-todo-description="{{ todo.description }}" data-callback-path="todo">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    // On document ready
    $( document ).ready(() => {
        Todo.onReady();
    });
</script>
{% endblock %}